@page "/game"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IDispatcher Dispatcher
@inject IState<CanFlux.Store.GameOfLife.GameOfLifeHistoryState> GameOfLifeHistoryState


<h1>Hello, Game of Life!</h1>

<BECanvas Width="GameOfLifeHistoryState.Value.Present.BoardSize" Height="GameOfLifeHistoryState.Value.Present.BoardSize" @ref="_canvasReference"></BECanvas>



<div class="btn-group" role="group" aria-label="Basic example">
    @if (GameOfLifeHistoryState.Value.Past.Count == 0 || _gameStarted)
    {
        <button type="button" disabled class="btn btn-secondary">Undo</button>
    }
    else
    {
        <button type="button" class="btn btn-secondary" @onclick="Undo">Undo</button>
    }

    @if (_gameStarted)
    {
        <button type="button" class="btn btn-secondary" @onclick="Stop">Stop</button>
    }
    else
    {
        <button type="button" class="btn btn-secondary" @onclick="Start">Start</button>
    }

    @if (GameOfLifeHistoryState.Value.Future.Count == 0 || _gameStarted)
    {
        <button type="button" disabled class="btn btn-secondary">Redo</button>
    }
    else
    {
        <button type="button" class="btn btn-secondary" @onclick="Redo">Redo</button>
    }

</div>

Generation: @GameOfLifeHistoryState.Value.Present.GenerationCount
